.icon {
    height: calc(var(--icon-size) * 3);
    width: calc(var(--icon-size) * 3);
    display: inline-block;
    background: url(../assets/img/icon-default.svg) center/contain no-repeat transparent;
}

.icon-bitcoin {
    background-image: url(../assets/img/icon-bitcoin.svg);
}

.icon-electroneum {
    background-image: url(../assets/img/icon-electroneum.svg);
}

.icon-ethereum {
    background-image: url(../assets/img/icon-ethereum.svg);
}

.icon-ethos {
    background-image: url(../assets/img/icon-ethos.svg);
}

.icon-metaverse-etp {
    background-image: url(../assets/img/icon-metaverse-etp.svg);
}

.icon-sm {
    height: calc(var(--icon-size) * 2);
    width: calc(var(--icon-size) * 2);
}

.icon-md {
    height: calc(var(--icon-size) * 3);
    width: calc(var(--icon-size) * 3);
}

.icon-lg {
    height: calc(var(--icon-size) * 4);
    width: calc(var(--icon-size) * 4);
}

.icon-xl {
    height: calc(var(--icon-size) * 5);
    width: calc(var(--icon-size) * 5);
}

.icon-xxl {
    height: calc(var(--icon-size) * 6);
    width: calc(var(--icon-size) * 6);
}
